<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="assets/Images/frontImg.jpg" alt="">
        <div class="text">
          <span class="text-1">A sua saúde <br> em primeiro lugar</span>
          <span class="text-2">Faça parte!</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="assets/Images/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Cadastre-se ao nosso sistema <br> com um clique</span>
          <span class="text-2">Faça parte!</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <!-- Tela de Login -->
          <div class="login-form"> 
            <div class="title">Login</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Nome de Usuário ou e-mail" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Senha" required>
              </div>
              <div class="text"><a href="#">Esqueceu sua senha?</a></div>
              <!-- routerLink para direcionar para a Home -->
              <div class="button input-box" [routerLink]="['/home']">
                <input type="submit" value="Enviar">
              </div>
              <div class="text sign-up-text">Não possui uma conta? <label for="flip">Cadastre-se agora</label></div>
            </div>
        </form>
      </div>
        <!-- Tela de Cadastro -->
        <div class="signup-form">
          <div class="title">Cadastro</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nome de usuário" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="E-mail" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Senha" required>
              </div>
              <div class="button input-box" [routerLink]="['/home']">
                <input type="submit" value="Enviar">
              </div>
              <div class="text sign-up-text">Já possui uma conta? <label for="flip">Faça Login</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>
